# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*.bat
gradlew
gradle.properties
forge-1.12-14.21.1.2443-changelog.txt
CREDITS-fml.txt
MinecraftForge-Credits.txt
README.txt
LICENSE-new.txt